* {
    font-family: 'Nunito', sans-serif;
}

.bg-dark-footer {
    background-color: #091E3E !important;
}

.btn-footer {
    font-family: 'Nunito', sans-serif;
    color: #fff;
    background-color: #091E3E !important;
    border-radius: 50px !important;
    border: 1px solid #091e3e !important;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px 11px 28px;
}

.btn-footer:hover {
    background-color: #0f2950 !important;
    border: 1px solid #0f2950 !important;
}

.footer-service .link-animated a {
    text-decoration: none !important;
}

.footer-service .link-animated a {
    transition: .5s;
}

.footer-service .link-animated a:hover {
    padding-left: 10px;
}